<h1> THÔNG TIN </h1>

<form action="/add" method="POST">
    IdDistrict: <input type="text" name="IdDistrict"><br> IdVillage: <input type="text" name="IdVillage"><br> Address: <input type="text" name="Address"><br> BankName: <input type="text" name="BankName"><br> BranchName: <input type="text" name="BranchName"><br>

    <button type="submit">  THÊM  </button>
</form>